BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentWidth: 4
TabWidth: 4
UseTab: Never
SpacesInParentheses: true
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
PointerAlignment: Right
ReferenceAlignment: Right
ColumnLimit: 100
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
SpacesBeforeTrailingComments: 2
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: true
IncludeBlocks: Regroup
SpaceAfterCStyleCast: true
SpaceInEmptyBlock: false
SeparateDefinitionBlocks: Always
